body {
  height: 100vh;
}

.title {
  font-weight: 500;
  font-size:18px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.message {
  color:#8d8a86;
}

.container {
  max-width:500px;
  margin-left: auto;
  margin-right:auto;
}

.center {
  text-align: center;
}

.comments {
}

.comment {
  background-color: #FFF;
  margin-top:10px;
  margin-bottom:10px;
  padding:5px;
  border: #DDD thin solid;
  border-radius: 5px;
}

.minimized {
  height:50px;
  max-width:480px;
  white-space: nowrap;
  overflow: hidden;
}

.form {
  margin-top: 5%;
  padding: 5px;
}

.form-control {
  margin-bottom:10px;
  border:none;
}

.btn {
  margin-right: 5px;
}

.btn-primary {
  margin-right: 0px;
}

.submit {
  font-size: 20px;
  width:100%;
}

.white {
  color:#FFF;
}

.grey {
  color:#8d8a86;
}

.message {
  margin-top: 8px;
}

.modal-dialog {
  max-width: 450px;
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  padding:10px;
}

.modal-footer {
  padding:10px;
  padding-top:0px;
  border-top: none;
}

.form-group {
  background-color: #FFF;
  border:thin solid #FFF;
  border-radius: 5px;
}

.error {
  color:red;
  text-align: left;
  padding-left:5px;
}

ul {
  padding-left:0px;
  list-style-type: none;
}

.transparent {
  background-color: transparent;
  border:none;
}

.close-form-container {
  max-width:375px;
  margin-left:auto;
  margin-right:auto; 
  text-align: right;
  font-weight:500;
}

.post-form {
  max-width:350px;
  margin-left:auto;
  margin-right:auto; 
}

.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 250ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
  transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transform: scale(1) rotateX(0deg);
  transition: all 250ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}