body {
  height: 100vh;
}

i {
  padding-top: 2px;
  padding-left:4px;
}

ul {
  padding-left:0px;
  list-style-type: none;
}

li { 
  padding-left:5px;
  padding-right:5px;
  margin-top:10px;
  border: #DDD thin solid;
  border-radius: 5px;
  display: inline-flex;
}

.container {
  max-width:500px;
  margin-left: auto;
  margin-right:auto;
}

.form-control {
  margin-bottom:10px;
}

.form-group {
  background-color: #FFF;
  border:thin solid #FFF;
  border-radius: 5px;
  background-color: ghostwhite;
  padding:5px;
}

.comments {
  height:400px;
  overflow: auto;
}

.comment {
  width:400px;
  background-color: #FFF;
  padding-top: 6px;
  padding-bottom: 6px;
}

.minimized {
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 12px;
  padding-bottom: 12px;
}

.btn {
  margin-right: 5px;
}

.btn-primary {
  margin-right: 0px;
}

.submit {
  font-size: 20px;
  width: 100%;
}

.white {
  color:#FFF;
}

.modal-dialog {
  max-width: 450px;
}

.modal-header {
  border-bottom: none;
}

.modal-body {
  padding:10px;
}

.modal-footer {
  padding:10px;
  padding-top:0px;
  border-top: none;
}

.error {
  color:red;
  text-align: left;
  padding-left:5px;
}

.transparent {
  background-color: transparent;
  border:none;
}

.close-form-container {
  max-width:375px;
  margin-left:auto;
  margin-right:auto; 
  text-align: right;
  font-weight:500;
}

.post-form {
  max-width:350px;
  margin-left:auto;
  margin-right:auto; 
}

.ReactModal__Overlay {
  -webkit-perspective: 600;
  perspective: 600;
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transition: opacity 250ms ease-out;
}

.ReactModal__Content {
  -webkit-transform: scale(0.5) rotateX(-30deg);
  transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
  -webkit-transform: scale(1) rotateX(0deg);
  transform: scale(1) rotateX(0deg);
  transition: all 250ms ease-in;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content--before-close {
  -webkit-transform: scale(0.5) rotateX(30deg);
  transform: scale(0.5) rotateX(30deg);
  transition: all 150ms ease-in;
}